@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-bg: #ffffff;
    --color-bg-to: #466173;
    --color-card: #d9d9d9;
    --color-text: #292929;
    --color-text-from: #292929;
    --color-text-to: #ffffff;
    --color-forecast-day: #f88508;
    --color-forecast-day-to: #f6fad9;
    --color-forecast-night: #443d64;
    --color-forecast-night-to: #6582c6;
    --color-btn-circle: #111111;
    --color-btn-bg: #d9d9d9;
    --color-border: #000000;
    --color-btn-text: #000000;
    --color-location: #4cbb17;
}

.dark{
    --color-bg: #9e9e9e;
    --color-bg-to: #383838;
    --color-card: #444444;
    --color-text: #ffffff;
    --color-forecast-day: #373636;
    --color-forecast-day-to: #373636;
    --color-forecast-night: #373636;
    --color-forecast-night-to: #373636;
    --color-btn-text: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(110.05deg, var(--color-bg) 0%, var(--color-bg-to) 100%);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    min-height: 100vh;
}


.bg-card {
    background: var(--color-card);
}

.text-theme {
    color: var(--color-text);
}

.text-temperature-theme {
    background: linear-gradient(80.34deg, var(--color-text-from) -2.93%, var(--color-text-to) 212.44%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.theme-border {
    border: 1px solid var(--color-border);
}

.theme-btn-bg {
    background: var(--color-btn-bg);
}

.theme-btn-circle {
    background: var(--color-btn-circle);
 }

.theme-btn-text {
    color: var(--color-btn-text);
}

.theme-location {
    background: var(--color-location);
}

.bg-gradient-forecast-day {
    background: linear-gradient(170.72deg, var(--color-forecast-day) -12.41%, var(--color-forecast-day-to) 163.32%);
}

.bg-gradient-forecast-night {
    background: linear-gradient(170.72deg, var(--color-forecast-night) -12.41%, var(--color-forecast-night-to) 163.32%);
}

.dark .bg-gradient-forecast-day,
.dark .bg-gradient-forecast-night {
    background: var(--color-forecast-day);
}