@use '../utils/variables' as *;

.catalog {
  padding-top: 20px;

  &__title {
    text-transform: uppercase;
    margin-top: 40px;
  }

  &__filters {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 14px;
    padding: 8px 14px 12px;
    border: 1px solid $color-dark;
    align-items: center;
    justify-content: flex-start;
    margin: 40px auto 36px;
    background: transparent;
    max-width: 100%;
    box-sizing: border-box;
  }

  &__filter {
    background: transparent;
    border: none;
    padding: 6px 10px;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: $color-dark;

    &:hover {
      color: $color-ceramic;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background: transparent;
      bottom: -6px;
    }
    &.active::after {
      background: $color-dark;
    }
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
    justify-items: flex-start;
    padding: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      border-top: 1px solid $color-dark;
      border-left: 1px solid $color-dark;
      pointer-events: none;
    }
  }

  &__item {
    background: $color-light;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid $color-dark;
    overflow: hidden;
    max-width: 320px;
    width: 100%;
    transition: transform 0.25s ease;

    &:hover {
      transform: translateY(-4px);
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: block;
    }

    .catalog__info {
      text-align: left;
      padding: 10px 14px 16px;

      h3, p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;
      }
    }
  }
}

@media (max-width: 480px) {
  .catalog {
    &__filters {
      width: calc(100% - 28px);
      margin: 20px auto;
      padding: 10px;
      box-sizing: border-box;
      justify-content: flex-start;
    }
    &__grid {
      padding: 10px;
      margin: 0;
      box-sizing: border-box;

      &::before {
        display: none;
      }
    }
    &__item {
      max-width: 100%;
    }
  }
}