@use "../utils/variables" as *;

.about {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 30px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__media {
    display: inline-block;
    padding: 0;
    background: none;
  }

  &__subtitle {
    margin-block-start: 20px;
    padding-inline: 5px;
    text-align: center;
  }

  &__img {
    display: block;
    margin: 40px auto 0 auto;
    border: none;
    background: transparent;
    max-width: 100%;
    object-fit: cover
  }

  &__paragraph {
    margin: 20px auto;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
  }

  &__paragraph-highlight {
    font-weight: 500;
    font-size: 16px;
    color: $color-ceramic;
  }
}

@media (min-width: 768px) {
  .about {
    &__title {
      font-size: 36px;
    }

    &__subtitle {
      font-size: 24px;
    }
  }
}

@media (min-width: 1200px) {
  .about {
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 20px;
    }

    &__container {
      flex: 1;
      align-items: center;

      &:last-child {
        flex: 1.4;
      }
    }

    &__img {
      height: 300px;
      width: 100%;
      margin: 0;
      object-fit: cover;
    }

    &__title {
      font-size: 40px;
      text-align: center;
    }

    &__subtitle {
      text-align: center;
      width: 100%;
      padding-inline: 0;
    }

    &__paragraph {
      width: 100%;
      margin: 20px 0;
      padding: 0;
    }
  }
}

@media (min-width: 1920px) {
  .about {
    &__content {
      max-width: 1440px;
      gap: 60px;
    }

    &__img {
      height: 350px;
      max-width: 100%;
    }
  }
}