$font-main: 'Barlow', sans-serif;
$font-forms: 'Inter', sans-serif;
$color-dark: #232323;
$color-light: #fafafa;
$color-ceramic: #c69978;
$color-ui-bg: #ffffff;
$color-ui-border: #e2e1e5;
$color-ui-active: #d9d9d9;
$color-ui-disabled: #d2d2d2;
$color-ui-valid: #4caf50;
$color-ui-error: #db0c35;
$color-terms: #a22dc6;
$transition: 0.3s ease;
