@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.btn-default {
  @include button(230px, 50px, $color-dark, 20px);
}

.btn-default:hover {
  color: $color-ceramic;
  border-color: $color-ceramic;
  transform: translateY(-3px);
}

.btn-footer {
  @include button(90px, 40px, $color-light, 16px);
}

.btn-footer:hover {
  color: $color-ceramic;
  border-color: $color-ceramic;
  transform: translateY(-1px);
}