@use '../utils/variables' as *;

.header-container {
  background: $color-light;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: $font-main;
  transition: all $transition;
  position: relative;
  margin-top: 20px;

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 50px;
    height: 20px;
    flex: 0 0 auto;

    span {
      width: 20px;
      height: 2px;
      background: $color-dark;
      transition: all $transition;
    }

    &:hover span {
      background: $color-ceramic;
    }

    @media (min-width: 768px) {
      visibility: hidden;
    }
  }

  .header__grid {
    display: grid;
    grid-template-areas:
      ". logo ."
      "nav1 nav2 nav3";
    row-gap: 20px;
    flex: 1 1 auto;
    justify-items: center;
    max-width: 400px;
    margin: 0 auto;

    .header__logo {
      grid-area: logo;

      img {
        width: 100px;
        height: 100px;
        transition: all $transition;
        object-fit: contain;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .header__nav {
      display: none;
      grid-area: nav1 / nav1 / nav3 / nav3;
      width: 100%;

      .nav-item {
        &--1 {
          grid-area: nav1;
          justify-self: center;
        }

        &--2 {
          grid-area: nav2;
          justify-self: center;
        }

        &--3 {
          grid-area: nav3;
          justify-self: center;
        }
      }

      .nav-link {
        text-decoration: none;
        color: $color-dark;
        font-size: 20px;
        font-weight: 500;
        font-family: $font-main;
        transition: all $transition;
        text-transform: uppercase;

        &:hover {
          transform: scale(1.05);
          color: $color-ceramic;
        }
      }

      @media (min-width: 768px) {
        display: grid;
        grid-template-areas: "nav1 nav2 nav3";
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  .header__icons {
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    flex: 0 0 auto;

    a {
      img {
        width: 20px;
        height: 20px;
        transition: all $transition;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .mobile-menu {
    @media (min-width: 768px) {
      display: none;
    }

    &__backdrop {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-dark, 0.5);
      z-index: 998;

      &.active {
        display: block;
      }
    }

    &__panel {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-light;
      z-index: 999;
      transition: transform $transition;
      transform: translateX(-100%);
      padding: 2rem 1.5rem;
      box-sizing: border-box;

      &.active {
        transform: translateX(0);
      }
    }

    &__close {
      position: absolute;
      top: 1rem;
      left: 1rem;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: $color-dark;
      transition: color $transition;
      z-index: 1000;

      &:hover {
        color: $color-ceramic;
        transform: scale(1.05);
      }
    }

    &__list {
      list-style: none;
      margin-top: 3rem;

      li {
        margin-bottom: 1.5rem;

        a {
          display: block;
          text-decoration: none;
          color: $color-dark;
          font-size: 20px;
          font-weight: 400;
          font-family: $font-main;
          transition: all $transition;
          padding: 0.5rem 0;
          text-transform: uppercase;
          letter-spacing: 0.5px;

          &:hover {
            color: $color-ceramic;
            transform: scale(1.05);
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .header__grid .header__logo img {
      width: calc(100px + (150px - 100px) * ((min(1920px, 100vw) - 1200px) / (1920px - 1200px)));
      height: calc(100px + (150px - 100px) * ((min(1920px, 100vw) - 1200px) / (1920px - 1200px)));
    }

    .header__nav {
      gap: clamp(2rem, calc(2rem + 1rem * ((100vw - 1200px) / 720)), 3rem);
    }

  }
}

.menu-active {
  overflow: hidden;

  .mobile-menu__backdrop {
    display: block;
  }

  .mobile-menu__panel {
    transform: translateX(0);
  }

  .burger span {
    &:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
      background: $color-ceramic;
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
      background: $color-ceramic;
    }
  }
}
