.about__us {
  margin-top: 40px;

  &__title {
    margin: 80px 0;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
  }
  &__img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
  }

  .about__us__text p {
    margin-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .about__us__content {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .about__us__img,
  .about__us__text {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .about__us__content {
    max-width: 1140px;
    margin: 0 auto;
  }
}

@media (min-width: 1920px) {
  .about__us__content {
    max-width: 1440px;
  }
  .about__us__text {
    font-size: 20px;
  }
}