.find {
  padding: 20px 0;

  &__title {
    margin: 80px 0;
    text-align: center;
  }

  &__map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px auto;
    padding: 0 20px;
    box-sizing: border-box;

    &__container {
      width: 100%;
      position: relative;

      iframe {
        width: 100%;
        height: 300px;
        border: none;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

@media (min-width: 480px) {
  .find__map__container {
    iframe {
      height: 350px;
    }
  }
}

@media (min-width: 768px) {
  .find__map__container {
    iframe {
      aspect-ratio: 4 / 3;
    }
  }
}

@media (min-width: 1200px) {
  .find__map {
      max-width: 800px;

      &__container {
        iframe {
          height: 450px;
        }
      }
  }
}